* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans";
  font-size: 16px;
  background-color: #17171C;
}

body.light {
  background-color: #fff;
}

button {
  width: 72px;
  height: 72px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.5rem;
  font-weight: 500;

  color: white;

  border: none;
  border-radius: 24px;

  cursor: pointer;
}

.wrapper {
  max-width: 410px;
  margin: 0 auto;
  padding: 15px;

  overflow: hidden;
}

.title {
  text-align: center;
  color: white;
}

body.light .title {
  color: black;
}

#calculator {
  padding: 20px;
  background-color: #17171C;
  border: 2px solid #fff;
  border-radius: 24px;
}

body.light #calculator {
  background-color: #F1F2F3;
  border: 2px solid black;
}

#theme-button {
  width: 65px;
  margin: 0 auto;

  cursor: pointer;

  display: flex;
  justify-content: space-between;

  padding: 4px;
  border-radius: 25px;
  background-color: #2E2F38;

  user-select: none;
}

body.light #theme-button {
  background-color: #fff;
}

.theme-button__circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #4E505F;
}

body.light .theme-button__circle {
  background-color: #D2D3DA;
}

#display {
  margin-top: 50px;
  text-align: right;

  color: white;
  font-weight: 300;
  font-size: 5rem;
}

body.light #display {
  color: black;
}

#calculator-buttons {
  margin-top: 16px;
  display: flex;
  gap: 16px;
}

body.light #calculator-buttons button {
  color: black;
}

#additional-operations {
  display: flex;
  gap: 16px;
  align-items: center;
}

#additional-operations>button {
  background-color: #4E505F;
}

button[data-value="convert"] {
  background-image: url("../icons/plus-minus.svg");
  background-repeat: no-repeat;
  background-position: center;
}

body.light button[data-value="convert"] {
  background-image: url("../icons/plus-minus-dark.svg");
}

button[data-value="backspace"] {
  background-image: url("../icons/backspace.svg");
  background-repeat: no-repeat;
  background-position: center;
}

body.light button[data-value="backspace"] {
  background-image: url("../icons/backspace-dark.svg");
}

body.light #additional-operations>button {
  background-color: #D2D3DA;
}

#main-operations {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#main-operations>button {
  background-color: #4B5EFC;
}

body.light #main-operations>button {
  color: #fff;
}

#numbers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

#numbers>button {
  background-color: #2E2F38;
}

body.light #numbers>button {
  background-color: #fff;
}

.left-side {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#numbers-footer {
  display: flex;
  gap: 16px;
}

#numbers-footer>button {
  background-color: #2E2F38;
}

body.light #numbers-footer>button {
  background-color: #fff;
}


.hidden {
  display: none;
}

.show {
  display: block;
}

.transparent {
  opacity: 0;
}